.sidebar_option {
  display: flex;
  align-items: center;
  margin: 10px 50px;
  cursor: pointer;
  padding: 7px 14px;
  border-radius: 25px;
  width: max-content;
}

.sidebar_option:hover {
  background-color: #e7e7e8;
}

.icon {
  width: 40px;
  height: 25px;
}

.sidebarOption_text {
  font-size: 20px;
  font-weight: 200;
  color: #333;
  margin-right: 20px;
  text-transform: capitalize;
}
