.sidebar {
  position: sticky;
  left: 0;
  top: 10px;
  width: 20%;
  height: 90vh;
  text-align: center;
}

.sidebar_logo {
  font-size: 60px;
  margin-right: 100px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
}

.sidebar_logo:hover {
  background-color: #e7e7e8;
}

.sidebar_button {
  background-color: #1a8cd8;
  border: none;
  color: white;
  height: 50px;
  width: 200px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}

.sidebar_profileContainer {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar_profileContainer > .sidebar_profileInfo {
  margin-left: 15px;
}

.sidebar_profileInfo > h2 {
  font-size: 18px;
  font-weight: 400;
}

.sidebar_profileInfo > h5 {
  font-size: 13px;
  font-weight: 200;
  color: grey;
}
