.post {
  width: 45%;
  height: 100vh;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.post_title {
  padding: 5px 15px;
}

.postHeader_buttons {
  margin-top: 10px;
  width: 100%;
}

.postHeader_buttons > button {
  border: none;
  background: none;
  width: 50%;
  padding: 20px;
  cursor: pointer;
  color: #333;
  font-weight: 550;
  font-size: 15px;
  transition: all 4ms ease-in;
}

.postHeader_buttons > button:hover {
  background-color: #e7e7e8;
}

.post_content {
  padding: 7px;
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
}

.postContent_text {
  margin: 15px;
  padding: 5px 20px;
}

.postContent_text > textarea {
  outline: none;
  border: none;
  resize: none;
  font-size: 20px;
  font-weight: 300;
  font-family: sans-serif;
}

.postContent_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postContent_buttons > .left_buttons .leftButtons_icons {
  color: #1a8cd8;
  margin-right: 20px;
  height: 20px;
  width: 30px;
  cursor: pointer;
}

.postContent_buttons > .right_button .sendText_button {
  background-color: #1a8cd8;
  border: none;
  color: white;
  width: 100px;
  height: 35px;
  cursor: pointer;
  border-radius: 15px;
  font-weight: bold;
  font-size: 16px;
}
