.widget {
  margin-top: 3px;
  margin-left: 20px;
  position: sticky;
  right: 0;
  top: 0;
  height: max-content;
  overflow-y: hidden;
}

.widget_search {
  display: flex;
  align-items: center;
  background-color: #eff3f4;
  width: 350px;
  height: 40px;
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
}

.widget_search > input {
  border: none;
  flex: 1;
  background: none;
  outline: none;
  padding-left: 10px;
}

.widget_trendContent {
  margin-top: 10px;
  padding: 10px;
  background-color: #eff3f4;
  border-radius: 15px;
  overflow-y: visible;
}

.widget_trendContent > .trendContent_title {
  font-size: 17px;
  margin-bottom: 15px;
}

.widget_footer {
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #eff3f4;
}

.widget_footerContainer {
  margin: 10px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.footer_profileInfo {
  margin-right: 20px;
}

.widget_footerContainer > .footer_profileInfo > h2 {
  font-size: 13px;
  font-weight: 300;
}

.widget_footerContainer > .footer_profileInfo > h5 {
  font-size: 13px;
  font-weight: 200;
  color: #333;
}

.widget_footerContainer > button {
  border: none;
  background-color: black;
  color: white;
  height: 30px;
  width: 100px;
  border-radius: 15px;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .widget {
    display: none;
  }
}
